<table id="events" class='table table-striped table-bordered'>
  <thead>
    <tr id="search_box">
    </tr>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tfoot>
      <th>ID</th>
      <th>Name</th>
  </tfoot>
  <tbody>
  </tbody>
</table>